body {
    font-family: "Arial";
    /* font-family: 'Abel'; Overall font */
    background-color: white;
    margin: 0;
    padding: 2vw;
}

.profile-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    background-color: #ddd;
    display: inline-block;
    object-fit: cover;
}

.profile-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    font-size: 20px;
}

.profile-info h2,
.profile-info h3 {
    margin: 0;

}

.info {
    font-size: 24px;
    max-width: 1000px;
    width: 100%;
    word-wrap: break-word;
    overflow: auto;
}

.icon {
    font-size: 48px; /* Adjust the size of the icons */
    color: #000;
}